// * {
//   border: 12px;
//   padding: 30px;
//   box-sizing: border-box;
// }

.photo{
  display: inline-block;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.primary{
  border: 3px solid red;
}

.nav li {
  display: inline;
}

.nav a {
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  margin: 10px;
}

/////login/////////////////
h1#login {
  text-align: center;
}

form#login {

  input   {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px solid white;
    color: green;
  }
  button#login{
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    // background-color: @main-color;
    color: #FFFFFF;
  }
}

///////NEW PROJECT FORM///////////////////////

h1#newProject {
  text-align: center;
}

form#newProject {

  input   {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px solid white;
    color: green;
  }

  textarea {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px solid white;
    color: green;
  }
  button#newProject {
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    // background-color: @main-color;
    color: #FFFFFF;
  }
}
