* {
  border: 12px;
  padding: 10px;
  font-weight: bold;
  color: #D5F1F0;
  box-sizing: border-box;
  font-size: 100%;
}

span.icon {
  fill: white;
  margin: 0px;
  padding: 0px;

  .icon {
    height: 60px;
    width: 60px;
  }

  &:hover {
    fill: #D5F1F0;
  }
}


html {
  background-color: #D5F1F0;
}

body {
  background-color: #494E50;
}


.row {
  text-align: center;
}



//////ignore for now////////
.photo{
  display: inline-block;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.primary{
  border: 3px solid red;
}
////////////////////////////////

a.main {
  font-weight: bold;
  color: #D5F1F0;
  font-size: 1em;
  &:hover {
    text-decoration: underline;
  }
}

a {
  font-weight: normal;
  color: white;
  a:hover: none;
}

p.simple.more-about {
  &:hover {
    color: #D5F1F0;
    text-decoration: underline;
  }
}

a.link {
  color: white;
  display: inline;
  font-size: 1em;
  text-align: center;
  margin: 10px;
  &:hover {
    text-decoration: underline;
    color: #D5F1F0;
  }
}


///template footer /////

footer {
  span.simple {
    a {
      &:hover {
        text-decoration: underline;
        color: #D5F1F0;
      }
    }
  }
}

//////projects///////
.project {
 display: inline;
}

 ul.index-home-projects {
   margin: 0px;
   &, li {
   display: inline-block;
   margin: 0px;

   a.home-projects {
     font-size: 5em;
     margin: 0px;
   }
  }
}

p {
  font-weight: normal;
}

h1.normal {
  display: inline;
  padding: 0px;
  text-align: left;
}

h1.hi {
  padding-left: 0px;
}

a p {
  display: inline;
  padding: 0px;
}

h2.work {
  font-size: 1em;
  padding-left: 0px;
}


.simple {
   font-weight: normal;
   color: #FFFFFF;
 }

 .normal  {
   font-weight: normal;
 }

 p.web {
   font-weight: bold;
   color: #D5F1F0;
   font-size: 1em;
 }


 ///header///


 header {
  div.row {
   padding: 0px;
   margin-bottom: 0px;
  }
 }

/////login/////////////////
h1#login {
  text-align: center;
}

form#login {

  input   {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px solid white;
    color: green;
  }
  button#login{
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    // background-color: @main-color;
    color: #FFFFFF;
  }
}

///////NEW PROJECT FORM///////////////////////

h1#newProject {
  text-align: center;
}

form#newProject {

  input   {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px solid white;
    color: green;
  }

  textarea {
    display:block;
    width: 40%;
    min-width: 230px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fbfbfb;
    border:none;
    border-bottom: 3px solid white;
    color: green;
  }
  button#newProject {
    webkit-appearance:none;
    display:block;
    width: 220px;
    margin: 15px auto;
    border:3px solid white;
    padding:10px 0px;
    // background-color: @main-color;
    color: #FFFFFF;
  }
}

/* contact */


li {
  display: inline;
}

h1.email {
  font-size: 6em;
  text-align: center;
}

/* about */
.about {
  text-align: center;
}


///media queries//////////

@media (min-width: 768px) and (max-width: 1000px) {
  h1.email {
    font-size: 4em;
  }

  ul.index-home-projects {
    li a.home-projects {
      font-size: 4em;
    }
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  h1.email {
    font-size: 3em;
  }

  footer {
    span.simple {
      display: block;
      padding: 3px;
    }
  }

  ul.index-home-projects {
    li a.home-projects {
      font-size: 3em;
      display: block;
    }
  }
}

@media (min-width: 200px) and (max-width: 499px) {
  // h1.normal {
  //   display: block;
  // }

  p.simple.more-about {
    font-size: 12px;
    display: block;
  }

  h1.email {
    font-size: 1.75em;
    text-align: center;
  }

  footer {
    p, span {
      display: block;
      span {
        padding: 3px;
      }
    }
  }

  ul.index-home-projects {
    li a.home-projects {
      font-size: 2em;
      display: block;
    }
  }

  //about//
  .about {
    padding: 0px;
    margin: 0px;
  }

  h3.simple {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
  }
}

@media only screen and (max-width: 320px) {

   body { font-size: 1em; }

}
