doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(href='/css/normalize.css', rel='stylesheet')
    link(href='/css/buttons.css', rel='stylesheet')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(href='/less/app.css', rel='stylesheet')
  body
   .container
    .nav
      .row
        .col-lg-3.col-sm-12
          a(href='/')
            li: Still Chad Campbell
        .col-lg-5.col-sm-12
          a(href='/projects')
            li.simple:  some Projects
            | >
          a(href='/about')
            li.simple:  little About
            | >
          a(href='/contact')
            li.simple:  please Contact
            | >
        .col-lg-4.col-sm-12
          a(href='/projects/new')
            li.normal: do Web Design & Development

          //- if(user)
          //-   li: a(href='/login') Login
          //-   li: a(href='/logout')= user.email
          //-   li: a(href='/projects/new') New Project
          //-   li: a(href='/projects/sort') Sort Projects


    header
      .row
        block content

    footer
      .row
        .col-lg-2.col-md-4.col-md-1
        .col-lg-8.col-md-4.col-md-1
          ul.footer
            li &#169; Peak Nine Designs
            li.normal Sylvan Park Nashville, TN
            li.simple ccampb13@gmail.com
            li.simple @_chad_campbell
        .col-lg-2

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/buttons.js')
    script(src='/js/vendor/traceur.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/es5/main.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='/js/es6/compiled/main.js')
    script(src='/js/es6/compiled/sockets.js')

    block scripts
