doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    title= title
    link(href='/css/normalize.css', rel='stylesheet')
    link(href='/css/buttons.css', rel='stylesheet')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(href='/less/app.css', rel='stylesheet')
  body
   .container
    .nav
      .row
        .col-lg-4.col-md-12.col-sm-12
          a.main(href='/') Chad Campbell
        .col-lg-4.col-md-6.col-sm-12
          a.link(href='/projects') Projects
          a.link(href='/about') About
          a.link(href='/contact') Contact
        .col-lg-4.col-md-6.col-sm-12
          p.web(href='/projects/new') Web Design & Development

    header
      .row
        block content

    footer
      .row
        .col-md-12
          .pull-left
            p &#169; Peak Nine Designs, Nashville, TN
          .pull-right
            p.simple 
              a(href='mailto:ccampb13@gmail.com') ccampb13@gmail.com
            p.simple 
              a(href="http://www.twitter.com/_chad_campbell", target='_blank') @_chad_campbell


    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/buttons.js')
    script(src='/js/vendor/traceur.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/es5/main.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='/js/es6/compiled/projects.js')
    script(src='/js/es6/compiled/main.js')
    script(src='/js/es6/compiled/sockets.js')

    block scripts
