extends ../shared/template

block content
  .col-lg-6
    h3.normal Lorem ipsum, lorem ipsum dolor sit amet, Lorem, dummy text, loren ipsum (yes, spelled wrong), Lorem ipsum sample textipsum loremlorem ipsum sample, Latin copy text, Lorem ipsum text, Latin dummy text, template text, sample text, dummy copy text, Latin sample text, HTML dummy text, Lorem ipsum dummy text, filler text or copy filling text, and many other names.
  .col-lg-6
    h3.normal Lorem ipsum, lorem ipsum dolor sit amet, Lorem, dummy text, loren ipsum (yes, spelled wrong), Lorem ipsum sample textipsum loremlorem ipsum sample, Latin copy text, Lorem ipsum text, Latin dummy text, template text, sample text, dummy copy text, Latin sample text, HTML dummy text, Lorem ipsum dummy text, filler text or copy filling text, and many other names.
  .row
    .col-lg-3.about
      h3 Design
    .col-lg-3.about
      h3 Design
      p Lorem ipsum, lorem ipsum dolor sit amet, Lorem, dummy text
    .col-lg-3.about
      h3 Development
      p Lorem ipsum, lorem ipsum dolor sit amet, Lorem, dummy text
    .col-lg-3.about
      h3 Design
