extends ../shared/template

block content
  .col-lg-12.col-md-12.col-sm-12
    h3.normal It all started with Adobe Photoshop. The cheap thrill of putting a friends head on another's body started me down a path that eventually led me to become a web designer and developer. Adobe Illustrator further identified my passion to create and develop digital content. The want and desire was there. Nashville Software School allowed me to quickly develop my skillset and become a full-stack developer.
  .row.about
    .col-lg-3.col-md-3.col-sm-3.col-xs-6.about
      h3.simple Design
      p Adobe Illustrator, Adobe Photoshop
    .col-lg-3.col-md-3.col-sm-3.col-xs-6.about
      h3.simple Front End
      p  jQuery, jQuery UI, Bootstrap, CoffeeScript
    .col-lg-3.col-md-3.col-sm-3.col-xs-6.about
      h3.simple Languages
      p JavaScript, Ruby, HTML, CSS
    .col-lg-3.col-md-3.col-sm-3.col-xs-6.about
      h3.simple Databases
      p MongoDB, SQLite, PostgreSQL
