extends ../shared/template

block content
  .col-lg-6.col-md-12.col-sm-12
    h3.normal Lorem ipsum, lorem ipsum dolor sit amet, Lorem, dummy text, loren ipsum (yes, spelled wrong), Lorem ipsum sample textipsum loremlorem ipsum sample, Latin copy text, Lorem ipsum text, Latin dummy text, template text, sample text, dummy copy text, Latin sample text, HTML dummy text, Lorem ipsum dummy text, filler text or copy filling text, and many other names.
  .col-lg-6.col-md-12.col-sm-12
    h3.normal Lorem ipsum, lorem ipsum dolor sit amet, Lorem, dummy text, loren ipsum (yes, spelled wrong), Lorem ipsum sample textipsum loremlorem ipsum sample, Latin copy text, Lorem ipsum text, Latin dummy text, template text, sample text, dummy copy text, Latin sample text, HTML dummy text, Lorem ipsum dummy text, filler text or copy filling text, and many other names.
  .row
    .col-lg-3.col-md-3.col-sm-3.col-xs-6.about
      h3.simple Design
      p Adobe Illustrator, Adobe Photoshop
    .col-lg-3.col-md-3.col-sm-3.col-xs-6.about
      h3.simple Front End
      p  jQuery, jQuery UI, Bootstrap, CoffeeScript
    .col-lg-3.col-md-3.col-sm-3.col-xs-6.about
      h3.simple Languages
      p JavaScript, Ruby, HTML, CSS
    .col-lg-3.col-md-3.col-sm-3.col-xs-6.about
      h3.simple Databases
      p MongoDB, SQLite, PostgreSQL
