extends ../shared/template

block content
  .col-lg-12.col-md-12.col-sm-12
    p.normal How can I help move your project along?
  .col-lg-12.col-md-12.col-sm-12
    h1.email
      a(href='mailto:ccampb13@gmail.com') ccampb13@gmail.com
  .col-lg-12.col-md-12.col-sm-12
    p.normal Elsewhere:
  .row
    ul
      li: a(href='https://twitter.com/_Chad_Campbell', target='_blank')
          span.icon
            include ../icons/icon-twitter
      li: a(href='https://www.linkedin.com/profile/view?id=34005455&trk=nav_responsive_tab_profile', target='_blank')
          span.icon
            include ../icons/icon-linkedin
      li: a(href='https://github.com/ccampb13', target='_blank')
          span.icon
              include ../icons/icon-github
