extends ../shared/template

block content
  .contact
    p.normal How can I help move your project along?
    h1
      a.email(href='mailto:ccampb13@gmail.com') ccampb13@gmail.com
    p.normal Elsewhere:
    ul
      a(href='https://twitter.com/_Chad_Campbell')
        li.simple Twitter
      a(href='https://www.linkedin.com/profile/view?id=34005455&trk=nav_responsive_tab_profile')
        li.simple LinkedIn
      a(href='https://github.com/ccampb13')
        li.simple GitHub
